//variable creation in saas
$maincolor : green;

//functionn in saas
@mixin  headerStyle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgb(38, 0, 255)
    
}
//forLoop 
@for $i from 1 to 3{
    h#{$i}{
        @include headerStyle;
}
    }
//nesting items styling sample
/* nav{
    ul{
        li{
            
        }
    }
 } */









//extend usage
.button{
    background-color: aquamarine;
}
.secondButton{
    @extend .button;
}